/* RESET */ 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

header {
    background-color: #0084fd;
    height: 85px;
    width: 100%;
    
   
}

.w-bg {
    background-color: white;
}

nav {
    padding: 20px;
    align-items: center;
    position: relative;
}

nav ul {
    display: none;
    list-style-type: none;
    color: white;
}

nav button {
    display: none;
     border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    background-color: white;
    border-radius: 3rem;
     
   

}

.container {
    max-width: 80%;
    margin: 0 auto;
}


div i {
    display: inline-block;
}

.lb-bg {
    background-color: #b5ddff;
}


.p-bg {
    background-color: #9792e4;
}


div.button-box {
    position: absolute;
    right: 0;
    align-items: center;
}



li {
    margin-right: 4rem;
}


div.phone-container {
    display: flex;
    flex-direction: column;
}


div.jumbo-l-box {

width: 100%;

padding: 3rem 3rem 0;



margin: 0 auto;

margin-bottom: 5rem;

border-radius: 3rem;

border: solid 10px white;



}

div.jumbo-l-box img {
    width: 100%;
}


section.jumboscreen {
    margin-top: 4rem;
}

div.jumbo-s-box {

    width: 100%;

    height: 500px;

  
    border: solid 10px white;

    margin: 0 auto;

    margin-bottom: 5rem;

    border-radius: 3rem;
}




.purple {
    background-color: #9792e4;
}

div.img-box img {
    width: 100%;
}

div.text {
    width: 100%;
    height: 300px;
    background-color: blue;
    margin-top: 4rem;
}

div.bigger-box {
    width: 100%;
    height: 500px;
    background-color: black;
    margin-top: 4rem;
    border-radius: 3rem; 
    
}

.card-id {
    width: 100%;
    border-radius: 3rem;
    height: 300px;
    margin-bottom: 4rem;
}

div.testimonials-text {
    width: 100%;
    height: 200px;
    background-color: magenta;
    margin-bottom: 4rem;
    margin-top: 4rem;
}

.testimonials-img {
    background-color: red;
    width: 90%;
    height: 40%;
    margin: 0 auto;
}

.quote-box {
    background-color: greenyellow;
    width: 90%;
    height: 40%;
    margin: 0 auto;

}

div.circle-id-box {
    height: 300px;
    width: 100%;
    background-color: magenta;
    margin-top: 4rem;
}

div.all-in-one-box {

    height: 600px;
    width: 100%;
    background-color: green;
    margin-top: 4rem;
}


.black {

    background-color: #333333;
}

div.footer-box {
    height: 400px;
    width: 100%;
    background-color: green;
    margin-top: 4rem;
}


@media  screen and (min-width:576px) {

    div.jumbo-l-box {
        width: calc(100% / 3 * 2);
    }
    
    div.jumbo-s-box {
        width: calc(100% / 3);
    }

    section.container {
        display: flex;
        flex-wrap: wrap;
    }

    .card-id {
        display: flex;
    }

    .testimonials-img {
        height: 100%;
        width: 50%;

    }

    .quote-box {
        height: 100%;
        width: 50%;
    }

    div.jumbo-s-box.col {

        width: calc(100% / 2);
    }

    section.container.half-box {
        display: flex;
    }

    div.circle-id-box {

        width: 50%;
    }

    div.text.half {
        width: 50%;
    }

  div.jumbo-l-box img {
    width: 100%;
  }



}

@media screen and (min-width:768px) {

    nav ul {
        display: flex;
    }

    nav button {
        display: inline;
    }
     
    .fa-bars::before, .fa-navicon::before {
        display: none;
    }
  
    div.img-box img {
        width: 50%;
    }

    div.text {
        width: 50%;
    }

    div.bigger-box {
        width: 40%;
        position: absolute;
        bottom: 4rem;
        right: 0;
    }
    
    .middle-section {
        position: relative;
        padding-top: 4rem;
        padding-bottom: 4rem;
        max-width: 50%;
    }

   div.jumbo-s-box.col {
         
      width: 33%

   }

   div.jumbo-l-box {
    display: flex;
   }

   div.phone-container {
    display: flex;
    flex-direction: column-reverse;
}
   

}