/* RESET */ 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

header {
    background-color: #0084fd;
    height: 100px;
    width: 100%;
    
   
}

nav ul {
    display: none;
}

nav button {
    display: none;
}

.container {
    max-width: 80%;
    margin: 0 auto;
}


div i {
    display: inline-block;
}



div.jumbo-l-box {

width: 80%;

height: 500px;

background-color: blueviolet;

margin: 0 auto;

margin-bottom: 5rem;

border-radius: 3rem;

border: solid 10px white;



}


section.jumboscreen {
    margin-top: 4rem;
}

div.jumbo-s-box {

    width: 80%;

    height: 500px;

    background-color: aqua;
    border: solid 10px white;

    margin: 0 auto;

    margin-bottom: 5rem;

    border-radius: 3rem;
}


.purple {
    background-color: #9792e4;
}







@media  screen and (min-width:576px) {

    div.jumbo-l-box {
        width: calc(100% / 3 * 2);
    }
    
    div.jumbo-s-box {
        width: calc(100% / 3);
    }

    section {
        display: flex;
        flex-wrap: wrap;
    }



}

@media screen and (min-width:768px) {

    nav ul {
        display: flex;
    }

    nav button {
        display: inline;
    }
     
    .fa-bars::before, .fa-navicon::before {
        display: none;
    }
  
}